{% extends 'site-base.html.twig' %}

{% block body %}
    <div class="table results">
        <div class="main-content txt-c table-cell">

            <div class="text-block">
                <h2 class="title">I Liga</h2>

                <table class="result-table mt10">
                    <thead>
                        <tr>
                            <th>Br</th>
                            <th>Ekipa</th>
                            <th>Odigrano</th>
                            <th>Pobede</th>
                            <th>Nerešeno</th>
                            <th>Porazi</th>
                            <th>Set +</th>
                            <th>Set -</th>
                            <th>Bodovi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Chuck Norris</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Atomik</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Faks</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Storekaši</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>MJ Stil - Ogi</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Black Hornets</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Strelac</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Karađorđe 1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr class="blue">
                            <td>9</td>
                            <td>Veliki park</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr class="blue">
                            <td>10</td>
                            <td>Borsalino</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr class="red">
                            <td>11</td>
                            <td>Kragujevac Spin</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr class="red">
                            <td>12</td>
                            <td>TST</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <p class="blue">Br. 9 igra baraž sa prvoplasiranim iz III lige</p>
                                <p class="blue">Br. 10 igra baraž sa trećeplasiranim iz II lige</p>
                                <p class="red">Br. 11-12 direktno ispadaju u II ligu</p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="separator"></div>

            <div class="text-block wrap">
                <h2 class="title">Raspored Kola</h2>
                <div class="event-list pull-left mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="event-list pull-right mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="event-list pull-left mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="event-list pull-right mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="event-list pull-left mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="event-list pull-right mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="event-list pull-left mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="event-list pull-right mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="event-list pull-left mt20">
                    <div class="event-heading">Kolo I <br> 03.10.2016. - 09.10.2016.</div>
                    <table class="events">
                        <thead>
                            <tr>
                                <th>Domaćin</th>
                                <th>Rezultat</th>
                                <th>Gost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                            <tr>
                                <td>Black Hornets ZSP</td>
                                <td><span class="popup-trigger">7-3</span></td>
                                <td>Strelac</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    
    <div class="popup">
        <div class="game-record-info txt-c">
            <p>Treca liga - Kolo II</p>
            <p>Datum odigravanja: 09.10.2016</p>
            <p>Mesto odigravanja: Top Spin</p>
            <span class="record-link" title="Preuzmi fotografiju"></span>
        </div>
        <table class="game-record txt-c">
            <thead>
                <tr>
                    <th></th>
                    <th>Spin Plus</th>
                    <th>Radovanove bebe</th>
                    <th></th>
                    <th>I set</th>
                    <th>II set</th>
                    <th>III set</th>
                    <th>IV set</th>
                    <th>V set</th>
                    <th>Rezultat</th>
                    <th>Ukupno</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>X</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>Y</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>Z</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>Par</td>
                    <td>Mladenović Marko <br> Jakovljević Mikan</td>
                    <td>Đurović Milenko <br> Anđelić Slaviša</td>
                    <td>Par</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>X</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>Z</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>Y</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>Z</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>X</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>Mladenović Marko</td>
                    <td>Đurović Milenko</td>
                    <td>Y</td>
                    <td>8:11</td>
                    <td>5:11</td>
                    <td>10:12</td>
                    <td></td>
                    <td></td>
                    <td>0:3</td>
                    <td>0-1</td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="11">
                    <div class="finalscore pull-right">
                        <span>Konačan rezultat</span>
                        <div class="score-box">
                            <span class="score-box-value">2</span>
                            <span>-</span>
                            <span class="score-box-value">8</span>
                        </div>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
    <div class="popup-mask"></div>
{% endblock %}